# pycharm
.idea/

# virtualenv
env/
env.old/

# Pipenv
Pipfile.lock

# sane-yt-subfeed
client_secret.json
client_secret_private.json
client_secret_dev.json
client_secret_private - Copy.json
keys.json
keys_dev.json
keys_private.json
client_secret_production.json
keys_production.json
*.pkl
config.ini
hotkeys.ini
*.db
*.db-journal
*.db.*

# python
__pycache__
*.pyc

# Blacklist images
*.jpg
*.png

# Whitelist Project images
!sane_yt_subfeed/resources/icons/*
!quality404.jpg
!thumbnail_na.png

# Whitelist docs and related assets
!docs/readme_assets/app_preview.png

# logs
logs/

# pip
Sane_Subscription_Feed.egg-info/

# alembic
alembic/versions/*.py
