# pycharm
.idea/

# virtualenv
env/
env.old/

# sane-yt-subfeed
client_secret.json
client_secret_private.json
client_secret_private - Copy.json
keys.json
keys_private.json
*.pkl
config.ini
hotkeys.ini
*.db
*.db-journal
*.db.*

# python
__pycache__
*.pyc

# Blacklist images
*.jpg
*.png

# Whitelist Project images
!sane_yt_subfeed/gui/icons/*
!quality404.jpg
!thumbnail_na.png

# logs
logs/

# pip
Sane_Subscription_Feed.egg-info/

# alembic
alembic/versions/*.py