[Gui]
launch_gui = True
hide_downloaded = True

[Debug]
debug = False
cached_subs = True
use_dummy_uploads = False
channels_limit = -1

[Requests]


[Thumbnails]
0 = default
1 = medium
2 = high
3 = standard
4 = maxres

[Threading]
img_threads = 200