[Gui]
launch_gui = True
hide_downloaded = True
grid_view_x = 5
grid_view_y = 4
grey_old_videos = True
tile_pref_height = 150
tile_pref_width = 180
tooltip_pictures = False
tooltip_picture_width = 512
tooltip_picture_height = 256
tooltip_picture_size = h1
keep_thumb_ar = False
enable_auto_copy_to_clipboard = False

[Theme]
last_style =
last_theme =

[GridView]
show_watched = False
show_dismissed = False
title_tile_pixel_size = 0.40

[SubFeed]
show_downloaded = False

[DownloadView]
download_tile_height = 200

[PlaySort]
ascending_date = False

[Debug]
debug = False
cached_subs = True
start_with_stored_videos = True
channels_limit = -1
use_playlistItems = True
disable_tooltips = False
disable_tqdm = True
show_grab_method = False
log_search = False
log_list = False
log_needle = unset
show_unimplemented_gui = False

[Model]
loaded_videos = 200

[Requests]
use_tests = False
miss_limit = 10
test_pages = 2
extra_list_pages = 0
deep_search_quota_k = 20
filter_videos_days_old = -1

[Thumbnails]
force_download_best = True
0 = maxres
1 = standard
2 = high
3 = medium
4 = default

[Threading]
img_threads = 200

[Play]
yt_file_path =
disable_dir_listener = False
use_url_as_path = False
default_watch_prio = 10

[Youtube-dl]
use_youtube_dl = True

[Youtube-dl_proxies]
proxy1 =
proxy2 =
proxy3 =
proxy4 =
proxy5 =

[Youtube-dl_opts]

[Postprocessing]
embed_metadata = False
remap_tags = False
map_title = title
map_date = date
map_description = description
map_comment = comment
map_purl = purl
map_track = track
map_artist = artist
map_genre = genre
map_album = album
map_album_artist = album_artist
map_disc = disc

[Player]
default_player =
url_player =
alternative_player1 =
alternative_player2 =
alternative_player3 = 

[DefaultApp]
Image =

[Logging]
use_socket_log = False
log_level = 1
logging_port = 19996