[Gui]
launch_gui = True
hide_downloaded = True

[Debug]
debug = False
cached_subs = True
start_with_stored_videos = False
channels_limit = -1
use_playlistItems = True
disable_tqdm = True

[Requests]


[Thumbnails]
force_download_best = False
0 = maxres
1 = medium
2 = default
3 = high
4 = standard

[Threading]
img_threads = 200