[Global]
preferences = Ctrl+P
hotkeys = F2
quit = Ctrl+Q
copy_all_urls = Ctrl+D
refresh_feed = Ctrl+R
refresh_feed_deep = Ctrl+T
reload_subslist = Ctrl+L
test_channels = 
manual_dir_search = 
manual_thumb_dl = 
manual_db_grab = Ctrl+E
download_video_by_url = Ctrl+O
show_usage_history = Ctrl+H
history_undo_action = Ctrl+Z

[View]
subfeed = Ctrl+1
playback = Ctrl+2
detailed_list = Ctrl+3
download = Ctrl+4
subscriptions = Ctrl+5
tiled_list = Ctrl+9
config = Ctrl+P

[Subfeed]
download = LeftButton
dismiss = MidButton

[Playback]
prio_decrease = MidButton, Ctrl+LeftButton
mark_watched = Alt+LeftButton
play = MouseLeftButton
ascending_sort_toggle = Ctrl+A
by_channel_sort_toggle = Ctrl+B

